.env
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.whl
*.mypy_cache/
*.pytest_cache/
*.coverage
*.cover
*.hypothesis/
*.tox/
*.coverage.*
*.DS_Store
*.ipynb_checkpoints
*.log
*.sqlite3
*.db
*.db-journal
*.sqlite
*.sqlite-journal
*.sqlite3-journal
*-google-credentials.json

model_weight/
